name: MB Test Run
on: workflow_dispatch # Taake aap button daba kar test kar saken

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Dependencies
        run: |
          pip install selenium webdriver-manager
      - name: Run Test
        run: python test_scraper.py
